html {
	position: relative;
}

body{
	margin-bottom: 5px
}
/*Samakan ukuran margin bottom dengan footer*/

.jumbotron img {
	width: 375;
	border: 5px solid #666;
}

hr {
	width: 250px;
	border-top: 3px solid #999;
}

section {
	min-height: 600px;
}
/*Minimal panjang scroll section*/

.project {
	background-color: #eee;
}

.contact {
	min-height: 650px;
}

.footer {
	position: absolute;
	width:100%;
	/*width adalah lebar*/
	height:5px;
	bottom:0;
	background-color: #333;
}
/*Membuat footer selalu di bawah (fixed)*/